.input-block {
    width: 100%;
    margin: 30px 0px;
}

.input-block label {
    font-size: 1.2rem;
}

.input-block input {
    width: 100%;
    font-size: 1.2rem;
    color: var(--title-primary-color);
    border: 1px solid var(--secundary-bg-color);
    border-radius: 8px;
    background-color: var(--primary-bg-color)!important;
}

.input-error {
    padding: 4px 0;
    font-size: 1.2rem;
    color: red;
}