.tabs-content.carousel.carousel-slider {
    height: 650px!important;
    min-height: 650px!important;
    overflow-y: scroll;
}

#card-myads .card.horizontal .card-stacked {
    flex-direction: row;
}

#card-myads .tabs .tab a {
    color: var(--title-primary-color);
    font-weight: bold;
    opacity: .5;
}

#card-myads .tabs .tab a:hover, 
.tabs .tab a.active {
    opacity: 1!important;
}

@media only screen and (min-width: 601px) {
    .row .col.m7 {
        width: 100%;
    }
}