.search__container {
    position: relative;
    margin-top: 70px;
}

.results-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1080px) {
    .results-container {
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

@media screen and (max-width: 880px) {
    .results-container {
        grid-template-columns: 1fr 1fr;
    }    
}

@media screen and (max-width: 580px) {
    .results-container {
        grid-template-columns: unset;
    }    
}