.banner-wrapper {
    width: 100%;
    min-height: 300px;
}

.banner-wrapper .slick-dots {
    bottom: 32px;
}

.banner-wrapper img {
    width: 100%;
}

/* BANNER SLIDER */
.banner-wrapper .slick-prev:before, 
.banner-wrapper .slick-next:before {
    font-size: 40px;
}

.banner-wrapper .slick-next {
    right: 30px;
}

.banner-wrapper .slick-prev {
    left: 10px;
    z-index: 2;
}

.banner-wrapper .slick-next, 
.banner-wrapper .slick-prev {
    top: 47%;
}

.banner-wrapper .slick-dots {
    bottom: -45px;
}

/* CAR SLIDER */
.section-wrapper .slick-prev:before, 
.section-wrapper .slick-next:before {
    font-size: 50px;
    color: var(--primary-color);
}

.section-wrapper .slick-next {
    right: 8px;
}

.section-wrapper .slick-prev {
    left: -20px;
    z-index: 2;
}

.section-wrapper .slick-next, 
.section-wrapper .slick-prev {
    top: 41%;
}

.section-wrapper .slick-dots li button:before {
    font-size: 12px;
}

.section-wrapper .slick-dots {
    bottom: -10px;
}

@media screen and (max-width: 808px){
    .banner-wrapper {
        min-height: 0;
    }  
}