.section-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-wrapper {
    width: 100%;
    min-height: 100px;
}

.banner-wrapper .slick-dots {
    bottom: 32px;
}

.banner-wrapper img {
    width: 100%;
}

.title-section h1 {
    display: block;
    margin-bottom: 40px;
    font-size: 3rem!important;
}

/* BANNER SLIDER */
.banner-wrapper .slick-prev:before, 
.banner-wrapper .slick-next:before {
    font-size: 40px;
}

.banner-wrapper .slick-next {
    right: 30px;
}

.banner-wrapper .slick-prev {
    left: 10px;
    z-index: 2;
}

.banner-wrapper .slick-next, 
.banner-wrapper .slick-prev {
    top: 47%;
}

.banner-wrapper .slick-dots li button:before {
    font-size: 20px;
}

.banner-wrapper .slick-dots {
    bottom: -45px;
}

/* CAR SLIDER */
.section-wrapper .slick-prev:before, 
.section-wrapper .slick-next:before {
    font-size: 60px;
    color: var(--primary-color);
}

.section-wrapper .slick-next {
    right: 15px;
}

.section-wrapper .slick-prev {
    left: -25px;
    z-index: 2;
}

.section-wrapper .slick-next, 
.section-wrapper .slick-prev {
    top: 47%;
}

.section-wrapper .slick-dots li button:before {
    font-size: 20px;
}

.section-wrapper .slick-dots {
    bottom: -45px;
}