.search-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.search-container {
    width: 700px;
    padding: 30px;
    border-radius: 50px;
    background-color: var(--primary-color);
    position: absolute;
    top: -80px;
    transition: .5s;
}

.search-container form {
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[inputSearch="search"] {
    width: 80px;
    background-image: url('../../assets/img/icons/magnifier.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
}

input[inputSearch="search"]:hover {
    background-size: 60%;
}


input[bgColor="primary"] {
    background-color: var(--primary-color);
}

input[bgColor="secundary"] {
    background-color: var(--secundary-bg-color);
}

@media screen and (max-width: 711px) {
    .search-container {
        width: 95%;
        padding: 30px 15px;
    }    
}

@media screen and (max-width: 500px) {
    .search-container {
        height: auto;
        padding: 40px;
    }

    .search-container form {
        width: 100%;
        display: block;
    }  

    .input-block {
        width: 100%!important;
    }

    .input-block input {
        margin-bottom: 20px;
    }  

    .input-block input[inputSearch="search"] {
        width: 100%!important;
        margin-bottom: 0;
        background-size: 12%!important;
        transition: .5s;
    }
}