.search-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
}

.search-wrapper input {
    box-sizing: border-box!important;
}

.search-container {
    width: 700px;
    padding: 30px;
    border-radius: 50px;
    background-color: var(--primary-color);
    position: absolute;
    top: -80px;
    transition: .5s;
    display: grid;
    grid-template-rows: 1fr 30px 1fr;
    gap: 8px;
}

.search-container .input-block, .input-block input {
    margin: 0!important;
}

.basic-search-wrapper, 
.advaced-search-wrapper {
    margin: 0;
    align-self: center;
}

.basic-search-wrapper form {
    display: grid;
    gap: 12px;
    grid-template-columns: 20fr .5fr;
}

.search-container input[inputSearch="search-input"] {
    padding: 4px 8px!important;
    border: 1px solid var(--secundary-bg-color)!important;
    border-radius: 8px!important;
}

.search-container input[inputSearch="search-button"] {
    width: 13%;
    border-radius: 10px;
    background-image: url('../../assets/img/icons/magnifier.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
}

.search-container input[inputSearch="search-button"]:hover {
    background-size: 60%;
}

.basic-search-wrapper form div {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.advanced-button-wrapper {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.waves-effect.waves-teal.btn-flat {
    display: flex;
    font-weight: bold;
}

.material-icons.arrow_drop_down {
    font-size: 3rem;
    transition: .5s;
}

@media screen and (max-width: 711px) {
    .search-container {
        width: 95%;
        padding: 30px 15px;
    }    
}

@media screen and (max-width: 500px) {
    /* .search-container {
        height: auto;
        padding: 40px;
    }

    .search-container form {
        width: 100%;
        display: block;
    }  

    .input-block {
        width: 100%!important;
    }

    .input-block input {
        margin-bottom: 20px;
    }  

    .input-block input[inputSearch="search"] {
        width: 100%!important;
        margin-bottom: 0;
        background-size: 12%!important;
        transition: .5s;
    } */
}

.drop_down {
    transform: rotateZ(-180deg);
}

.advaced-search-wrapper form {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
}