.card-container {
    width: 100%;
}

.card-container .card:hover {
    box-shadow: 0px 5px 20px 0px rgba(255, 0, 0, 0.5);
    transition: .5s;
}

.card-container a {
    color: unset;
}

.card .card-title {
    font-size: 1.3rem!important;
    font-weight: 400!important;
}

.card .card-content {
    padding: 12px;
}

.car-price {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: bold;
}

.card-car-yar {
    display: block;
    width: fit-content;
    margin: 20px 0 20px 0;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--title-secundary-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.card-km {
    padding: 8px 0;
    font-size: 1.3rem;
    opacity: .7;
}

.grid-3 {
    width: 95%;
    display: flex;
    margin-bottom: 90px;
}

.section-wrapper.grid-3 a {
    margin: 0;
}

.grid-3 .card-large {
    width: 34%;
}

.card-small .card-header img {
    min-height: unset;
}

.card-small .card-section {
    margin-bottom: 0!important;
}

.card-small .car-price {
    font-size: 1.5rem!important;
}