nav, 
.sidenav {
    background-color: var(--secundary-bg-color)!important;
}

nav .brand-logo {
    display: flex;
    margin-top: 12px;
}

nav .nav-wrapper {
    z-index: 50;
}

nav ul a:hover,
.sidenav li > a:hover {
    color: var(--primary-color)!important;
    transition: .5s;
}

.sidenav li>a {
    color: var(--title-secundary-color)!important;
}

.sidenav div {
    padding-top: 20px;
}

.modal-confirm {
    align-self: flex-end;
}