.search-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    
}

.search-wrapper input {
    box-sizing: border-box!important;
}

.search-container {
    width: 100%;
    max-width: 700px;
    height: 104px;
    contain: strict;
    padding: 30px;
    border-radius: 50px;
    background-color: var(--primary-color);
    position: absolute;
    top: -57px;
    transition: .5s;
    display: grid;
    grid-template-rows: 45px 30px 1fr;
    animation: show_search .2s ease-in-out forwards alternate;
}

.search-container .input-block,
 .input-block input {
    margin: 0!important;
}

.basic-search-wrapper, 
.advaced-search-wrapper {
    margin: 0;
    align-self: center;
}

.basic-search-wrapper form {
    display: grid;
    gap: 12px;
    grid-template-columns: 20fr .5fr;
}

.search-container input[inputsearch="search-input"] {
    padding: 4px 8px!important;
    border-radius: 8px!important;
}

.search-container input[inputsearch="search-button"] {
    height: 45px;
    border-radius: 10px;
    background-image: url('../../assets/img/icons/magnifier.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
}

.search-container input[inputsearch="search-button"]:hover {
    background-size: 60%;
}

.advanced-button-wrapper {
    align-self: flex-end;
}

.advanced-button-wrapper .btn-flat {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.advanced-button-wrapper .btn-flat:hover {
    color: white;
}

.advanced-button-wrapper .btn-flat:focus {
    background-color: transparent;
}

.material-icons.arrow_drop_down {
    font-size: 2.5rem;
    transition: .5s;
}

.advaced-search-wrapper form {
    display: grid;
    gap: 12px;
    grid-template-rows: 50px 50px 50px 40px;
}

#advaced-search-g1 {
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
}

#advaced-search-g2 {
    display: grid;
    gap: 85px;
    grid-template-columns: 1fr 1fr;
}

#advaced-search-g2 > div {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
}

#advaced-search-g3 {
    margin: 0;
}

#advaced-search-g3 .input-field {
    margin: 0;
}

#advaced-search-g3 .input-field {
    margin: 0;
}

#advaced-search-g3 .input-field .select-dropdown {
    background-color: white;
    padding: 4px 8px!important;
    border-radius: 8px!important;
    font-weight: bold;
}

#btn-advaced-search {
    border-radius: 10px;
}

.search-container.drop_down .material-icons.arrow_drop_down {
    transform: rotateZ(-180deg);
}

.search-container.drop_down {
    grid-template-rows: 30px 1fr;
    contain: unset!important;
    animation: hide_search .2s ease-in-out forwards alternate;
}

.search-container.drop_down .advaced-search-wrapper {
    animation: opacity_search .2s ease-in-out .2s backwards alternate;
}

.basic-search-wrapper {
    contain: strict;
    height: 100%;
    animation: show_basic_search .2s ease-in-out both normal;
}

.search-container.drop_down .basic-search-wrapper {
    display: none;
    animation: hide_basic_search .2s ease-in-out both normal;
}

@keyframes hide_basic_search {
    0% {
        height: 100%;
    } 100% {
        height: 0%;
    }
}

@keyframes show_basic_search {
    0% {
        height: 0%;
    } 100% {
        height: 100%;
    }
}

@keyframes hide_search {
    0% {
        height: 104px;
    } 100% {
        height: 320px;
    }
}

@keyframes show_search {
    0% {
        height: 360px;
    } 100% {
        height: 104px;
    }
}

@keyframes opacity_search {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}


@media screen and (max-width: 711px) {
    .search-container {
        width: 95%;
        padding: 30px 15px;
    }    
}

@media screen and (max-width: 500px) {
    /* .search-container {
        height: auto;
        padding: 40px;
    }

    .search-container form {
        width: 100%;
        display: block;
    }  

    .input-block {
        width: 100%!important;
    }

    .input-block input {
        margin-bottom: 20px;
    }  

    .input-block input[inputsearch="search"] {
        width: 100%!important;
        margin-bottom: 0;
        background-size: 12%!important;
        transition: .5s;
    } */
}
