.card.horizontal {
    color: var(--title-primary-color)
}

.card.horizontal .card-image {
    max-height: 186px;
    max-width: 335px;
    contain: content;
}

.card.horizontal .card-stacked .card-content {
    flex-grow: 1;
    display: flex;
}

.card.horizontal .card-stacked .card-content > div {
    flex-grow: 1;
}

.card.horizontal .card-stacked .card-content div:last-child {
    text-align: end;
    opacity: .7;
}

.fixed-action-btn ul {
    align-items: flex-end!important;
}

.fixed-action-btn ul li a.btn-floating {
    width: fit-content!important;
    height: unset!important;
    padding: 0 9px!important;
    border-radius: unset!important;
    color: white!important;
    overflow: visible!important;
    line-height: 23px!important;
    text-align: center;
    display: flex;
    align-items: center;
}

.fixed-action-btn ul li a.btn-floating i.material-icons {
    margin-right: 4px;
}


@media screen and (max-width: 950px) {
    .card.horizontal {
        display: unset!important;
    }
    
    .card.horizontal .card-image {
        width: 100%!important;
        max-width: 100%!important;
        height: unset!important;
        max-height: 100%!important;
    }

    .card.horizontal .card-image img {
        width: 100%!important;
    }

    .card.horizontal .card-stacked .card-content {
        display: block;
    }

    .card.horizontal .card-stacked .card-content div:last-child {
        text-align: start;
    }

    .card.horizontal .card-action {
        padding: 12px!important;
    }

    .card.horizontal .card-action a.btn {
        margin: 0;
    }

    .fixed-action-btn {
        right: 12px!important;
        bottom: 176px!important;
    }

}

@media screen and (max-width: 700px) {
    .card.horizontal .card-content div h6 {
        font-size: 1rem;
    }
}