.card #_card-action:last-child {
    border-radius: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.horizontal .card-image {
    max-height: 186px;
    max-width: 335px;
    contain: content;
}