@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #d11717;
    --secundary-color: #2ECC71;
    --primary-bg-color: #FFF;
    --secundary-bg-color: #2b2b2b;
    --title-primary-color: #2C3E50;
    --title-secundary-color: #FFF;
}

.container {
    max-width: 1366px;
    min-height: 100vh;
}

.wrapper {
    max-width: 1366px;
}

h1, h2, h3 {
    font-size: 3.6rem;
    color: var(--title-primary-color)
}

.section-wrapper {
    width: 100%;
    padding: 0 20px;
}

.wrapper-inner {
    width: 95%;
    margin-bottom: 80px;
}

.btn {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 12px 18px;
    cursor: pointer;
    border: 0;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.btn.btn-primary {
    background-color: var(--primary-bg-color);
    color: var(--title-primary-color);
}

.btn.btn-secundary {
    background-color: var(--secundary-bg-color);
    color: var(--title-secundary-color);
}