@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #d11717;
    --primary-bg-color: #FFF;
    --secundary-bg-color: #2b2b2b;
    --title-primary-color: #2C3E50;
    --title-secundary-color: #FFF;
}

.container {
    width: 100%;
    max-width: 1466px;
    min-height: 100vh;
}

.wrapper {
    max-width: 1466px;
}

h1, h2, h3 {
    font-size: 3.6rem;
    color: var(--title-primary-color)
}

label {
    font-size: 1.2rem!important;
}


.section-wrapper {
    width: 100%;
    padding: 0 20px;
}

.wrapper-inner {
    width: 95%;
    margin-bottom: 80px;
}

.btn {
    background-color: var(--secundary-bg-color);
}

.btn-100 {
    width: 100%;
}

.skylight-dialog {
    min-height: 260px!important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1.5rem
}

.skylight-dialog h2 {
    font-size: 2.2rem!important;
}