.container-carousel {
    width: 100%;
    height: 414px;
}

.carousel {
    height: 200%!important;
    perspective: 800px!important;
    bottom: 200px;
}

.carousel .carousel-item {
    width: 532px!important;
    height: 414px!important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.carousel .carousel-item>img {
    width: unset!important;
}

.info-container {
    width: 90%;
    margin: 12px 80px;
    display: flex;
}

.info-container > div:nth-child(1) {
    width: 65%;
}

.info-container > div:nth-child(2) {
    width: 35%;
    position: relative;
}

.card-optional {
    width: 100%;
    position: absolute;
}

.info-header {
    margin-bottom: 40px;
}

.info-container .info-header h2 {
    font-size: 2.1rem!important;
}

.infor-wrapper {
    display: grid;
    gap: 60px;
    grid-template-columns: .2fr .2fr .2fr;
}

.infor-wrapper .info span {
    opacity: .6;
}

.infor-wrapper .info h3 {
    margin: 4px 0;
    font-size: 1.5rem!important;
}

.infor-wrapper .info {
    margin-left: 0;
}

.description-wrapper {
    width: 95%;
    margin: 90px 0;
    font-size: 1.6rem;
    opacity: .6;
}

.profile-container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-wrapper {
    width: 150px;
    margin: 0;
    border-radius: 50%;
    border: 8px solid var(--secundary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    max-width: 450px;
    min-width: 250px;
    margin: 0 40px;
}

.profile-name h3 {
    margin: 0!important;
    font-size: 2.8rem!important;
}

.profile-contact {
    margin-top: 8px;
}

.profile-contact span {
    display: block;
    font-size: 1.5rem!important; 
}

.sheet-wrapper {
    width: 450px;
    height: 150vh;
    margin-top: 30px;
    padding: 30px;
    background-color: var(--secundary-bg-color);
}

.profile-phone-wrapper {
    display: flex;
}

.profile-phone {
   margin: 0;
   padding: 0!important;
}

.profile-phone-wrapper img[title="Whatsapp"] {
    width: 35px;
    margin: 0 10px;
 } 


.car-price h3 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    color: var(--title-secundary-color);
}

.sheet-list-wrapper {
    padding: 40px;
    font-size: 2rem;
    color: var(--title-secundary-color);
}

.sheet-item li {
    padding: 10px;
    list-style-type: disc!important;
}